* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f1f1f1;
  background: black;
}

.main-container-change {
  background-color: #CBE6FF;
  color: #333;
}

.switch {
  width: 90px;
  height: 30px;
  background-color: #1E2939;
  border-radius: 15px;
  position: relative;
  border: #1E2939 solid 1px;
  padding: 1rem;
}

.switch-change {
  background-color: #61b3ff;
  border: #61b3ff solid 1px;
}

.switch i {
  position: absolute;
  color: #FFD363;
  top: 8px;
  right: 10px
}

.icon-change {
  left: 10px;
}

.btn {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: #1E2939 solid 1px;
  transition: all 0.3s ease-in-out;
}

.btn-change {
  right: -1px;
  left: auto;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

